.App {
    font-family: sans-serif;
    text-align: center;
    width: 80%;
    margin: 0 auto;
  
    h1 {
      font-size: 2rem;
      margin-bottom: 1rem;
    }
  
    ul {
      list-style: none;
      padding: 0;
  
      li {
        margin-bottom: 0.5rem;
      }
    }
  }

  .user-edit-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
  
    input {
      margin-bottom: 10px;
      padding: 5px;
      border: 1px solid #ccc;
      border-radius: 5px;
      width: 100%;
  
      &:focus {
        outline: none;
        border-color: #999;
      }
    }
  
    button {
      margin-top: 10px;
      padding: 5px 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      background-color: #eee;
      cursor: pointer;
  
      &:hover {
        background-color: #ddd;
      }
  
      &.cancel-button {
        margin-left: 10px;
        background-color: #f99;
      }
    }
  }